<% if @issue.autoclose_enabled %>
<div class="splitcontent">
  <div class="splitcontentleft">
    <div class="attribute">
      <div class="label">
	<span><%= l(:field_autoclose) %></span>:
      </div>
      <div class="value"><%= @issue.autoclose ? l(:general_text_Yes) : l(:general_text_No) %></div>
    </div>
  </div>
</div>
<% end %>
